[submodule "orp-sdk-php"]
	path = /classes/Plista/Orp/orp-sdk-php/
	url = git://github.com/plista/orp-sdk-php/
[submodule "kornakapi"]
	path = /classes/Plista/Orp/kornakapi
	url = git://github.com/plista/kornakapi.git
